/*----------------------
         RESET          
-----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
        DEBUG       
-----------------------*/


.debug .headertop{
    background-color: #add8e6;
    max-height: 80px;
}


.debug .headerbottom{
    background-color: #00008b;
    max-height: 500px;
}

.debug .headcont{
    background-color: #daa520;
}

.headcont .logo,
.headcont nav,
.headcont .login,
.headerbottom .dowcont{
    padding: 6px;
    border: 1px dashed black;
}

.debug .dowcont{
    background-color: #ee82ee;
    width: 80%;
    height: 400px;
}

.debug .col1{
    background-color: #ffc0cb;
    height: 500px;
}

.debug .col2{
    background-color: #1e90ff;
    height: 500px;
}

.debug .col1,
.debug .col2{
    height: 500px;
    border: 1px dashed black;
}

.debug #sezione1,
.debug #sezione2,
.debug #sezione3{
    height: 600px;
}

.debug .grayback{
    background-color: #d3d3d3;
    max-height: 1000px;
}

.debug #sezione4{
    height: 1000px;
}
.debug .content{
    background-color: #228b22;
    height: 900px;
    border: 1px dashed black;
}


/*----------------------
        SET GENERALE         
-----------------------*/

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------
        HEADER SET          
-----------------------*/

.headertop{
    padding: 25px 0px;
}

.headerbottom{
    padding: 30px 0px;
}

.headcont .logo,
.headcont .login{
    width: 20%;
}


.headcont nav{
    flex-grow: 1;
}

nav{
    text-align: center;
}


.login{
    text-align: right;
}


.container .headerbottom{
    display: flex;
}

.headertop .headcont{
    display: flex;
}

.headerbottom .dowcont{

    display: flex;
}


/*----------------------
        MAIN         
-----------------------*/

main #sezione1, 
main #sezione2,
main #sezione3{
    display: flex;
    padding: 50px 0px;
}

#sezione1 .col1,
#sezione2 .col2,
#sezione3 .col1{
    width: 40%;
}

#sezione1 .col2,
#sezione2 .col1,
#sezione3 .col2{
    width: 60%;
}

main #sezione4{
    display: flex;
    padding: 50px 0px;
}

#sezione4 .content{
    width: 90%;
}
